@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    min-height: 100vh;
    
}
.container{
    width: 50vh;
    margin: auto;
}

header{
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
#header-h1{
    width: 1200px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content:center ;
  
}

#add-task-btn{
    margin: 1rem;
}
#task-list{
    padding: .4rem;
}